<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-900 text-white flex flex-col items-start p-6 min-h-screen"
  >
    <button
      onclick="window.location.href='/'"
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mb-6"
    >
      Back to Login
    </button>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full"
    >
      <% users.forEach(function (user) { %>
      <div class="bg-gray-800 p-6 rounded-lg shadow-md text-center">
        <img
          src="<%= user.imageurl %>"
          alt="User Image"
          class="w-24 h-24 rounded-full object-top mx-auto mb-2"
        />
        <h3 class="text-xl font-semibold"><%= user.name %></h3>
        <p class="text-gray-400 text-sm"><%= user.email %></p>
        <div class="mt-4 flex justify-center space-x-4">
          <a href="/update?name=<%= user.name %>" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
            Edit User
          </a>
          
          <a
            href="/delete?name=<%= user.name%>"
            class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 inline-block text-center">
            Delete User
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
